<% layout("layouts/boilerplate") %>

<button class="btn btn-dark back-btn mt-2 fixed back-btn" onclick="window.history.back(); return false;">Back</button>

<div class="row mt-3">
    <div class="col-8 offset-2 top-margin">    <!-- offset-2 means space form left -->
        <h3>Create new listing</h3>
        <br>
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Add a title" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Please provide a valid title</div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" rows="3" cols="25" class="form-control" required></textarea>
                <div class="invalid-feedback">Please write a short description</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" placeholder="enter image URL/link" class="form-control" required>
            </div>
            
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" placeholder="1200" class="form-control" required>
                    <div class="invalid-feedback">Please provide a valid price</div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">country</label>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                    <div class="invalid-feedback">Please provide a valid country name</div>
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Bengaluru, Karnataka" class="form-control" required>
                <div class="invalid-feedback">Please provide a valid Location</div>
            </div>
            
            <button class="btn btn-dark edit-btn mt-3">Add</button>
        </form>
        <br><br>
    </div>
</div>